<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="stylesheet" href="./css/output.css">
    <title>SHARE</title>
</head>
<body>
    {{#if user}}
        {{>_auth_header}}
    {{else}}
        {{>_header}}
    {{/if}}

    {{{body}}}

    {{>_footer}}

    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        function Menu(e){
            let list = document.getElementById('nav-menu')

            e.name === 'menu' ? (e.name = 'close', list.classList.remove('top-[-400px]'), list.classList.add('top-[78]'), list.classList.remove('opacity-0'), list.classList.add('opacity-100')) : (e.name = 'menu', list.classList.add('top-[-400px]'), list.classList.remove('top-[80px]'), list.classList.add('opacity-0'), list.classList.remove('opacity-100'))
            
           
        }
    </script>

    <script src="https://unpkg.com/colcade@0/colcade.js"></script>

    <script>
        // selector string as first argument
        var colc = new Colcade( '.grid', {
            columns: '.grid-col',
            items: '.grid-item'
        }); 
    </script>
</body>
</html>