<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share - Login</title>
</head>
<body>
    <section class="conatiner mx-auto px-4 md:px-auto flex flex-col items-center justify-center h-screen">
        {{#if message.success}}
            <div class="flex space-x-2 px-4 py-2 mb-4 text-sm text-green-700 bg-green-100 rounded-lg items-center justify-center" role="alert">
                <div class="text-lg pt-1">
                        <ion-icon name="information-circle-outline"></ion-icon>
                </div>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">{{ message.success }}</span> 
                </div>
            </div>
        {{/if}}
        <div class="border border-gray-200 shadow-md p-5 rounded flex flex-col space-y-7 md:w-2/4 lg:w-2/6 xl:max-w-lg">
            <div class="text-3xl text-violet-800 font-bold text-center underline">
                Login
            </div>
            <form action="#" class="flex flex-col text-center md:text-left">
                
                <div class="flex flex-col my-2">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" id="email" name="email" class="rounded border border-gray-300 focus:border-violet-800" >
                </div>

                <div class="flex flex-col my-2">
                    <label for="password">
                        Password
                    </label>
                    <input type="password" id="password" name="password" class="rounded border border-gray-300 focus:border-violet-800">
                </div>
                
                <button class="bg-violet-800 rounded-full text-white py-2 mt-4 mb-2">
                    Login
                </button>
            </form>
        </div>
    </section>

    {{!-- <script>
        if (message){
            alert(message.success)
        }
    </script> --}}
</body>
</html>