<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share - Register</title>
</head>
<body>
    <section class="conatiner mx-auto px-4 md:px-auto flex items-center justify-center h-screen">
        <div class="border border-gray-200 shadow-md p-5 text-center md:text-left rounded flex flex-col">
            <div class="text-3xl text-violet-800 font-bold">
                Join the family
            </div>
        </div>
    </section>
</body>
</html>