<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>SHARE - 404</title>
</head>
<body>

    <section class="container mx-auto px-4 flex flex-col h-screen items-center justify-center md:p-auto">
        <h1 class="text-9xl text-violet-800 font-bold">
            404
        </h1>
        <p>Sorry, the page you are looking for either no longer existsd or is under maintenance.</p>
        <p>Go back to <a href="/" class="text-violet-800">Home page</a></p>
    </section>
    
</body>
</html>